<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div class="main-container">
        <h1>
            <span>&#x26AB; &#x25B2; Shape Calculator &#x25FC; &#x25B1;</span>
        </h1>
    </div>
</header>
<div class="main-container">
    <article class="root-article">
        <section class="left-section">
            <h2>Welcome to Shape Calculator</h2>
            <p><strong>Shape Calculator is an interactive web application. To the <span class="hide-mobi inline-block">right</span><span class="show-mobi inline-block">bottom</span> you will find the 3 step application. Follow the instructions in each step. Clicking cancel will take you back to step 1. Enjoy!</strong></p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised
                her not to do so, because there were thousands of bad Commas.</p>
        </section>
        <section class="middle-section main-app-section">
            <div class="main-app-inner-box">
                <router-outlet></router-outlet>
            </div>
        </section>
        <section class="right-section">
            <div class="dummy-bg"></div>
        </section>
    </article>
</div>